<div class="container">
  <div class="row">
    <ng-container [formGroup]="creatHeroForm" *ngIf="creatHeroForm">
      <div *ngFor="let control of creatHeroForm.controls | keyvalue">
        <div>
          <div>{{ control.key }}</div>
          <input type="text" formControlName="{{ control.key }}" />
        </div>
      </div>
    </ng-container>
    <div>
      <button [routerLink]="cancel">Annuler</button>
      <button (click)="submitHero()" [routerLink]="cancel">Envoyer</button>
    </div>
  </div>
</div>
