// nav{
//     display: flex;
//     justify-content:  flex-end;
// }
nav {
  background-image:
    url("../../../assets/banertop2.png");
    font-family: 'Fredericka the Great', cursive;
    color: dimgrey;
}
